.jurusan-container {
    text-align: center;
    padding: 20px;
}

.jurusan-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.jurusan-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.jurusan-card:hover {
    transform: scale(1,05);
}

.jurusan-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.jurusan-card h2 {
    font-size: 18px;
    margin-top: 10px;
}

.jurusan-card p {
    font-size: 14px;
    color: #555;
}