body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

h1, h2 {
  color: #333;
}

p {
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBECF4;
  padding: 20px 40px;
}

.header-content {
  max-width: 50%;
}

.tech-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #abcae2;
}

.tech-news1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #b9d4e9;
}

.tech-news2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #BAD6EB;
}

.tech-news3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #CADEED;
}

.tech-news4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #DBECF4;
}

.tech-news5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #acc9d7;
}

.tech-news6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #bde0f7;
}

.tech-news7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: hsl(198, 100%, 92%);
  margin-bottom: 10px;
}

.tech-news8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: hsl(198, 70%, 82%);
  margin-bottom: 10px;
}

.tech-news9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #b5dafa;
}

.news-content {
  max-width: 50%;
}

.news-image img {
  width: 650px;
  height: auto;
  filter: blur(5px); 
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.news-image img:hover {
  filter: blur(0);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.future-work {
  padding: 40px;
  background-color: #ffffff;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 350%;
  max-width: 400px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.2);
  animation: float 0.6s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.cards:hover {
  /* animation: float 0.6s ease-in-out infinite; */
}

.card p {
  color: #333;
}